* {
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  height: 100vh;
  user-select: none;
}

h1 {
  color: #f3f3f3;
  user-select: none;
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
}

#backgroundVideo {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

#bar {
  background-color: #201f20;
  opacity: 0.95;
  height: 22px;
  display: flex;
  justify-content: space-between;
  -webkit-app-region: drag;
}

#logo {
  width: 31px;
  background-image: url("../img/m2logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#togglers {
  display: flex;
  justify-content: center;
}

.menu-button {
  background: none;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  -webkit-app-region: no-drag;
}

.menu-button:focus {
  outline: none;
}

#settings {
  background-image: url("../img/settings.svg");
}

#hide {
  background-image: url("../img/hide.svg");
}

#settings:hover,
#hide:hover {
  background-color: #3a3a3a;
}

#close {
  background-image: url("../img/close.svg");
}

#close:hover {
  background-color: #ba0000;
}

#download-window {
  background-color: #201f20;
  opacity: 0.9;
  height: 450px;
  width: 300px;

  position: relative;
  margin: auto;
  top: 10%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
}

#m2net {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

#build {
  margin-bottom: 100px;
}

.download-button {
  background-color: #f3f3f3;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;

  width: 250px;
  height: 80px;
  margin: 7px;
}

.download-button:hover {
  border-radius: 7px;
  background-color: #a19f9f;
}

.download-button:focus {
  outline: none;
}
